body{
	background: url("../img/good.png");
	background-attachment: fixed,			fixed,				fixed;

}

#logo{
	background: #154c77;
	
}

#menu{
	background: #154c77;
}

#menu ul li:hover{
	background: #154c77;
}

.button-more{
	background: #154c77;
}

.button-more:hover{
	background: white;
}

#sidebar h4{
	background-color: #154c77;
}

#reloj{
  border: 10px dashed #154c77;
}

#login{
  padding: 15px;
  background: #154c77;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
