body{
	background: url("../img/spade.svg");
	background-size: 50%
	
}

#logo{
	background: #404040;
	
}

#menu ul li:hover{
	background: gray;
}

.button-more{
	background: gray;
}

#sidebar h4{
	background: url("../img/ok.jpg");
}
