body{
	background: url("../img/images.png");
	background-attachment: fixed;
}

#logo{
	background: #b51c1c;
	
}

#menu li{
	background: 444;
}
#menu ul li:hover{
	background: #b51c1c;
}

.button-more{
	background: #b51c1c;
}

#sidebar h4{
	background-color: #b51c1c;

}



#login{
  padding: 15px;
  background: #b51c1c;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
